<div class="d-flex justify-content-center mt-5">
    <div class="card soft-card p-4">

        <h4 class="text-center fw-bold mb-4">Update Profile</h4>

        <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text"
                class="form-control"
                formControlName="firstname">
        </div>

        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text"
                class="form-control"
                formControlName="lastname">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email"
                class="form-control"
                formControlName="email">
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text"
                class="form-control"
                formControlName="phone_no">
        </div>

        <!-- Verification Password -->
        <div class="mb-4">
            <label class="form-label">
            Current Password
            </label>
            <input type="password"
                class="form-control"
                formControlName="password"
                placeholder="Required to confirm changes">
            <small class="text-muted">
            For security, please confirm your current password.
            </small>
        </div>

        <button type="submit"
                class="btn btn-muted w-100 fw-semibold">
            Save Changes
        </button>

        </form>
    </div>
</div>