<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top p-4">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand fw-bold text-uppercase" routerLink="/">
        FOCUSSPRINT
        </a>

        <!-- Mobile toggle -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav items -->
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center gap-3">

            <li class="nav-item" *ngIf="auth.isLoggedIn()">
            <a class="nav-link"
                routerLink="/home"
                routerLinkActive="active">
                Home
            </a>
            </li>

            <li class="nav-item" *ngIf="auth.isLoggedIn()">
            <a class="nav-link"
                routerLink="/profile"
                routerLinkActive="active">
                Profile
            </a>
            </li>

            <li class="nav-item" *ngIf="auth.isAdmin()">
                <a class="nav-link"
                    routerLink="/admin/users"
                    routerLinkActive="active">
                    Admin Panel
                </a>
            </li>

            <li class="nav-item" *ngIf="auth.isLoggedIn()">
            <button class="btn btn-outline-light btn-sm px-3 py-2"
                    (click)="auth.logout()">
                Logout
            </button>
            </li>

        </ul>
        </div>
    </div>
</nav>