<nav class="navbar navbar-dark bg-dark navbar-expand-lg shadow-sm sticky-top p-4">
    <div class="container-fluid">
        <!-- Branding -->
        <a class="navbar-brand fw-bold text-uppercase" routerLink="/">
        <i class="bi bi-lightning-charge-fill text-warning me-1"></i> FocusSprint
        </a>
        <!-- Toggle Button -->
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- LogIn/LogOut Button -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">        
                @if (auth.isLoggedIn()) {
                <li class="nav-item">
                    <button class="btn btn-outline-light ms-2 rounded-pill px-3" (click)="auth.logout()">
                    <i class="bi bi-box-arrow-right me-1"></i> Logout
                    </button>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
