<div class="container mt-5 d-flex justify-content-center">
    <div class="card profile-card shadow-sm">

        <!-- Header -->
        <div class="profile-header text-center">
            <div class="avatar">
                {{ user?.username[0] | uppercase }}
            </div>

            <h4 class="mt-3 mb-1 text-white">{{ user?.username | uppercase  }}</h4>
            <small class="text-white">{{ user?.email }}</small>
            </div>

            <!-- Body -->
            <div class="card-body px-4 py-4">

            <div class="info-row">
                <span class="label">First Name</span>
                <span class="value">{{ user?.firstname }}</span>
            </div>

            <div class="info-row">
                <span class="label">Last Name</span>
                <span class="value">{{ user?.lastname }}</span>
            </div>

            <div class="info-row">
                <span class="label">Phone</span>
                <span class="value">{{ user?.phone_no }}</span>
            </div>

            <div class="info-row mb-4">
                <span class="label">Role</span>
                <span class="value text-capitalize">{{ user?.role }}</span>
            </div>

            <!-- Actions -->
            <button
                class="btn btn-secondary w-100"
                routerLink="/delete-todos"
            >
                Delete All Todos
            </button>
            <div class="d-flex gap-3 mt-4">
                <button class="btn btn-soft w-100"
                        routerLink="/update-profile">
                Update Details
                </button>

                <button class="btn btn-soft-outline w-100"
                        routerLink="/change-password">
                Change Password
                </button>
            </div>
        </div>
    </div>
</div>
