<div class="d-flex justify-content-center mt-5">
    <div class="card soft-card p-4">
        <h4 class="text-center fw-bold mb-4">Edit Todo</h4>
        <form #editTodoForm="ngForm" (ngSubmit)="updateTodo()">
            <!-- Task Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
                <input id="title" class="form-control" [(ngModel)]="title" name="title" required/>
            </div>
            <!-- Task Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description <span class="text-danger">*</span></label>
                <textarea id="description" class="form-control" [(ngModel)]="description" name="description" rows="3" required></textarea>
            </div>
            <!-- Task Priority -->
            <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <select id="priority" class="form-select" [(ngModel)]="priority" name="priority" >
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">5</option>
                </select>
                <small class="text-muted">Choose from 1 (low) to 5 (high).</small>
            </div>
            <!-- Task Status -->
            <div class="mb-4">
                <label class="form-label d-block">Status</label>
                <div class="form-check form-switch">
                <input id="completedSwitch" class="form-check-input custom-switch" type="checkbox" [(ngModel)]="complete" name="complete" />
                <label for="completedSwitch" class="form-check-label">
                    Completed
                </label>
                </div>
            </div>
            <!-- Buttons -->
            <div class="d-flex gap-2">
                <button class="btn btn-soft flex-fill" [disabled]="editTodoForm.invalid" type="submit">
                Update
                </button>
                <button
                type="button"
                class="btn btn-secondary flex-fill"
                (click)="deleteTodo()"
                >
                Delete
                </button>

                <button
                type="button"
                class="btn btn-soft-outline flex-fill"
                routerLink="/todos"
                >
                Back
                </button>
            </div>
        </form>
    </div>
</div>
