.bg-cus-admin {
  background-color: rgb(56, 56, 56);
}

.bg-cus-other {
  background-color: rgb(133 132 135);
}

.bg-cus-dis{
    background-color: rgba(145, 78, 78, 0.644)

}

.list-group{
    width: 650px;
    border-radius: 14px;
    border: none;
    background-color: #fdfdfd;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}