<div class="d-flex justify-content-center mt-5">
    <div class="list-group">
        <h4 class="text-center fw-bold mb-4">Users List</h4>
        <!-- Task List -->
        @for (u of users; track u.id) {
            <a
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3"
            [routerLink]="['/admin/users',u.id]"
            >
            <div class="flex-grow-1">
                <span class="fw-semibold user-name p-4">
                    {{ u.firstname | titlecase}} {{u.lastname | titlecase}}
                </span>
        
                <span class="text-muted small">
                    {{ u.email }}
                </span>
            </div>

            @if (!u.is_active) {
                <span class="badge bg-cus-dis me-2">Disabled</span>
            }

            <span class="badge me-2" [ngClass]="u.role == 'admin' ? 'bg-cus-admin' : 'bg-cus-other'">{{u.role | titlecase}}</span>

            </a>
        }
        @empty {
            <a
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3"
            [routerLink]="['/home']"
            >
            <span class="flex-grow-1">
                No Users Found
            </span>
            </a>
        }
    </div>
</div>